.Manager {
  padding: 10px;
  margin: 0px 0px;
  text-align: center;
}
.Title {
  font-size: 30pt;
}
.Total-Index {
  font-size: 24pt;
}
.Section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.Card {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.Card-Header {
  background-color: #dddddd;
}
.Index-Score::after {
  content: "%";
}
.Remove {
  color: red;
}
.Remove::after {
  content: "\2717";
}
